body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Estils per al header */
header {
    background-color: #004d40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estils per a la navegació */
nav {
    background-color: #00796b;
    margin-top: -10px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #004d40;
}

/* Estils per al main */
main {
    background-color: #f9f9f9;
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

main p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

main ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

main li {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

main li:before {
    content: '\2022';
    color: #00796b;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Estils per al footer */
footer {
    background-color: #004d40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

